main {
  margin-top: 5rem !important;
}

body[data-topbar=dark] #page-topbar {
  background-color: #282e3f;
}

.navbar-header a.button {
  color: #e9ecef;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  padding: 6px 10px;
}

.navbar-brand-box a {
  color: #e9ecef;
  font-weight: bold;
}

.modal.show .modal-dialog {
  top: 50%;
  transform: translateY(-50%);
}

.center-button {
  text-align: center;
}

.static-message {
  border-radius: 2px;
  background-color: #2b3244;
  padding: 4px 8px;
}

.dynamic-message {
  border-radius: 2px;
  background-color: rgba(245, 166, 35, 0.2);
  border: solid 1px #f5a623;
  color: #f5a623;
  padding: 4px 8px;
}

form {
  margin-top: 20px;
}

@media (min-width: 720px) {
  .modal-dialog-scrollable {
    max-height: calc(100% - 3.5rem);
  }

  .modal-dialog {
    max-width: 640px;
    margin: 1.75rem auto;
  }
}

